<h1>Cafeterías de la UAM</h1>
<% @cafeterias.each do |c| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading"><%= link_to c.name, public_cafeteria_path(c) %></h4>
    <p>
      Horario: <%= c.hours %><br>
      Teléfono: <%= c.phone %>
    </p>
    <% if current_admin %>
      <%= link_to 'edit', cafeteria_path(c) %>
    <% end %>
  </div>
</div>
<% end %>
