<div class="panel panel-default">
  <div class="panel-heading">Nuevo menu en <%= @menu.cafeteria.name %>
  <span class="pull-right">
    <%= link_to 'Cancelar', @menu.cafeteria %>
  </span>
  </div>
  <div class="panel-body">
    <%= render 'form', menu: @menu, url: cafeteria_menus_path(@menu.cafeteria) %>
  </div>
</div>
