<div class="panel panel-default">
  <div class="panel-heading">Nuevo menu en <%= @menu.cafeteria.name %>
  <%= link_to 'Cancelar', @menu.cafeteria, class: 'pull-right' %>
  </div>
  <div class="panel-body">
    <%= render 'form', menu: @menu, url: cafeteria_menus_path(@menu.cafeteria) %>
  </div>
</div>
