<% content_for :main do %>
<div class="panel panel-default">
  <div class="panel-heading">
    Nueva cafetería
    <%= link_to 'Cancelar', cafeterias_path, class: 'pull-right' %>
  </div>
  <div class="panel-body">
    <%= render 'form', cafeteria: @cafeteria %>
  </div>
</div>
<% end %>
