<% content_for :main do %>
<div class="panel panel-default">
  <div class="panel-heading">
    Nueva cafetería
    <span class="pull-right">
      <%= link_to 'Cancelar', cafeterias_path %>
    </span>
  </div>
  <div class="panel-body">
    <%= render 'form', cafeteria: @cafeteria %>
  </div>
</div>
<% end %>
