$grid-gutter-width: 15px;
$brand-primary: #cb231f;

$navbar-height: 40px;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: white;
$navbar-default-link-active-color: white;

$table-bg-hover: transparentize(#fee98d, 0.7);

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "auth";

html, body {
  height: 100%;
}

body {
  margin-top: $navbar-height + $grid-gutter-width;
}

.panel {
  margin-bottom: $grid-gutter-width;
  font-size: $font-size-small;

  a:not(.btn) {
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color: $gray-dark;
    }
  }
}

table {
  @extend .table, .table-hover;
}

label {
  @extend .control-label;
}

footer {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
}
