$grid-gutter-width: 15px;
$brand-primary: #cb231f;

$navbar-height: 40px;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: white;
$navbar-default-link-active-color: white;
$navbar-default-toggle-border-color: white;
$navbar-default-toggle-icon-bar-bg: $navbar-default-toggle-border-color;
$navbar-default-toggle-hover-bg: transparent;

$table-bg-hover: transparentize(#fee98d, 0.7);

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "select2";
@import "select2-bootstrap";

@import "auth";
@import "public_cafeterias";
@import "votes";

html, body {
  height: 100%;
}

body {
  margin-top: $navbar-height + $grid-gutter-width;
}

.panel {
  margin-bottom: $grid-gutter-width;
  font-size: $font-size-small;

  a:not(.btn).pull-right {
    font-weight: normal;
    &:hover {
      text-decoration: none;
      color: $gray-dark;
    }
  }
}

.alert-dismissible.alert-fixed {
  position: fixed;
  z-index: 100;
  margin: $grid-gutter-width;
}

table {
  @extend .table, .table-hover;
}

label {
  @extend .control-label;
}

footer {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
}
