$unauthenticated-bg: $brand-primary;
$shadow-color: darken($unauthenticated-bg, 30%);

body.unauthenticated {
  background-color: $unauthenticated-bg;
}

.signin-wrapper {
  max-width: 350px;
  margin: 4rem auto;
  box-shadow: 0 0 50px $shadow-color; 
}

.panel-heading {
  font-weight: bold;
}

.signin-brand {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;

  color: transparentize($shadow-color, 0.7);
  text-shadow: 1px 4px 6px $unauthenticated-bg, 0 0 0 $shadow-color, 1px 4px 6px
  $unauthenticated-bg;

  &::selection {
    text-shadow: none;
    color: white;
  }

}
