<p>Hola <%= @resource.email %>!</p>

<p>Te escribimos para notificarte de que tu contraseña se ha cambiado. Si no has sido tu, vuelve a cambiarla a través de la página de recuperación de contraseñas de uamfoods.ga</p>

<p>Deberías revisar quien tiene acceso a tu cuenta de email.</p>
